<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.fanserv.plugin"
        version="0.0.2">

    <name>FanServ</name>
    <description>A Cordova plugin that displays FanServ Ads</description>

    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>

    <js-module src="www/fanserv.js" name="FanServ">
        <clobbers target="FanServ" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FanServ">
                <param name="android-package" value="com.fanserv.plugin.FanServAd" />
            </feature>
        </config-file>
        <source-file src="src/android/FanServAd.java" target-dir="src/com/fanserv/plugin/fanservad" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FanServ">
                <param name="ios-package" value="FanServ" />
            </feature>
        </config-file>
        <header-file src="src/ios/FanServAd.h" />
        <source-file src="src/ios/FanServAd.m" />
    </platform>

</plugin>
